.footer{
    width: 100%;
    background-color: #61756a;
}

.footer footer{
    width: 100%;
    margin: auto;
    max-width: 700px;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    justify-content: space-around;
}

@media only screen and (max-width: 500px){
    .footer footer{
        flex-direction: column;
    }
}

.footer ul{
    width: fit-content;
}

.footer li{
    text-decoration: none;
    list-style: none;
    font-size: large;
}

.priCont li a{
    text-decoration: none;
    color: black;
}