.shCont{
    margin: 20px auto;
    margin-top: 160px;
    background-color: #b7c3bd;
    width: fit-content;
    border-radius: 5px;
    padding: 5px 3px;
}

.shTitle{
    margin: auto;
    width: fit-content;
    text-align: center;
}

.myshow{
    margin: 20px;
    max-width: 700px;
}

.myshow video{
    width: 100%;
    height: auto;
}